<div class="col-sm-12">
    <div class="jumbotron">
        <h1 class="display-4">Hello,{{user.first_name}}</h1>
        <p class="lead">You have successfully logged in to our system.</p>
        <hr class="my-4">
</div>

<h1>Donars List</h1>

<div class= "container">
  <div *ngFor= "let user of donars">
    <div class="col-md-3">
      {{user.first_name}}

      {{user.last_name}}
    </div>
    <div class="col-md-3">
      {{user.email}}
    </div>
    <div class="col-md-3">
      {{user.blood_type}}
    </div>
    <div class="col-md-3">
      {{user.weight}}
    </div>
    <div class="col-md-3">
      {{user.height}}
    </div>
    <div class="col-md-3">
      <input type="button"  value= "Request" class= "btn btn-danger">
    </div>
    <hr>
  </div>
</div>
