<mat-sidenav-container>
  <mat-sidenav  #sidenav mode="side" opened style="background-color:#363030">
    <mat-nav-list class="sidenav-list">
        <img src="https://i.pinimg.com/originals/d0/bd/93/d0bd93f0511758c25f9bfa7a2b86793c.png" width="215px">
        <hr>
        <a mat-list-item routerLink="donars"  (click)="sidenav.close()" [routerLinkActive]="['is-active']">
            <span class="text-white">User Home</span>
          </a>
          <hr>
      <a mat-list-item routerLink="requests"  (click)="sidenav.close()" [routerLinkActive]="['is-active']">
        <span class="text-white">Sent Requests</span>
      </a>
      <hr>
      <a mat-list-item routerLink="requests_received"  (click)="sidenav.close()" [routerLinkActive]="['is-active']" *ngIf="user.donar==true" >
        <span class="text-white">Requests Received</span>
      </a>
      <hr>
      <a mat-list-item routerLink="" (click)="sidenav.close()" [routerLinkActive]="['is-active']">
        <span class="text-white">My History</span>
      </a>
      <hr>
      <a mat-list-item routerLink="profile" (click)="sidenav.close()" [routerLinkActive]="['is-active']" >
        <span class="text-white">Update Profile</span>
      </a>
      <hr>
      <a mat-list-item routerLink="//user/profile/{{user._id}}" (click)="sidenav.close()" [routerLinkActive]="['is-active']">
        <span class="text-white">Delete Profile</span>
      </a>
      <hr>
      <p></p>
      <img src="https://i.pinimg.com/originals/d1/4b/42/d14b4259b3a99fe40b1f41fb92a7d797.jpg" width="215px">
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar bg-dark">
      <div>
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon class="text-white">menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="float-lg-right align-top mt-4 mr-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBWmiNoNMc-Cpm4_ZmGvxoSyDHErb7F9O8oBJRzEZM92XlMIdS&s" width="400px"/>
     </div>
  <div class="jumbotron">
     <h1 class="display-4">Hello,{{user.first_name}} !!!</h1>
      <p class="lead">You have successfully logged in to our system</p>
      <h3>As a Viewer <span *ngIf="user.donar" > and a Donar </span></h3>
    <hr class="my-4">
  </div>

    <main class="p-4">
      <router-outlet></router-outlet>
    </main>

</mat-sidenav-content>
</mat-sidenav-container>

